<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<header>
  <div class="container">
    <div class="logo">
      <img style="height: 170px; width: 160px;" src="{{url_for('static', filename='logo-ime.png')}}" />
    </div>
    <div>
    	<p style="color: white; text-align: center; font-size: 28px;">Seção de Engenharia Cartográfica SE/6</p>
	    <ul>
	      <li><a href="/">Sobre</a></li>
	      <li><a href="/exemplo">Exemplo</a></li>
	      <li><a href="/ajuste">Ajuste de Rede GNSS</a></li>
	      <li><a href="/codigo">Código</a></li>
	    </ul>
    </div>
  </div>
</header>

<article>
    <div class="container">
	   <h1>Essa é a página de exemplo</h1>
     <a href="/example-file/" target="blank"><button class="btn btn-default">Baixe o Exemplo!</button></a>
    </div>
</article>